/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require material
*= require material_icons
*= require bootstrap-multiselect

*/
@import "bootstrap_configuration";

// import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bootstrap/glyphicons';


//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

.nav > li > a {

    padding: 0px 24px;

}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #FFF;
    border-bottom: solid 2px rgb(63, 81, 181);
    color: black;
}
.nav-pills > li > a {
    border-radius: 0px;
}

.next {
  float: right;
}

.previous {
  float: left;
}

.tab-pane > .col-md-12 {
  padding: 40px 20px 10px;

}

.tab-pane .dropdown-menu {
  display: block !important;
}
